/* Declarar variables de colores */
:root {
    --color-primario: #ed830d; /* naranja */
    --color-primario2: #ed840dc5; /* naranja */
    --color-secundario: #6e9033; /* verde */
    --color-secundario2: #6e903359; /* verde */
    --color-terciario: hsl(219, 43%, 44%); /* azul claro */
    --color-cuarto: #363559; /* azul obscuro*/
    --color-cuarto2: #363559b9; /* azul obscuro*/
    --color-quinto: #7d7d7d; /* gris */
    --color-sexto: #00000063; /* gris */


  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    overflow-x: hidden;
  }


  /* barra de menu */
  nav{
    height: 90px;
    width: 90vw;
    position: fixed;
    z-index: 500;
    margin-top: 15px;
    padding-right: 50px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    background-color: var(--color-primario2);
    border-radius: 5px;
  }


  /* modo oscuro */
  #theme{
    display: none;
  }

  .icon1, .icon2{
    position: relative;
    bottom: 15px;
    right: 20px;
    height: 40px;
    width: 40px;
    transition: .3s;
    filter: invert(100%);
  }

 label img{
  margin-left: 20px;
 }

  label img:hover{
    scale: 1.2;
    transition: .3s;
  }

  #theme:not(:checked) + label .icon2{
    display: none;
  }

  #theme:checked + label .icon1{
    display: none;
  }

  /* este seria el tema oscuro */
  .theme-claro {
    background-color: black;
  }

/* hast aqui el theme */

  .logo{
    background: url(../assets/logogranerahoriblanco.svg) no-repeat;
    background-size: cover;
    width: 250px;
    height: 90px;
    cursor: pointer;
    transition: .3s;
  }

  .logo:hover{
    scale: 1.1;
    transition: .3s;
  }

  nav .list{
    margin-top: 43px;
    padding: 0;
    width: 60%;
    height: 0px;
    display: flex;
    align-items: center;
    gap: 2vw;
  }

  nav .list li{
    list-style: none;
  }

  nav .list a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 20px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: .3s;
  }

  nav .list a:hover{
    transition: .3s;
    scale: 1.2;
    background-color: var(--color-secundario);
  }

#checkmenu{
  display: none;
}

/* animacion del boton de menu */
nav .btn-menu{
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 0px;
  display: none;
  overflow: hidden;
  margin-right: 20px;
}

.btn-menu div{
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.9s ease-out;
  transition: all .25s ease-in-out;
}

.line1{
  transition: 200ms;
  top: 10%;
}

.line2{
  transition: 200ms;
  top: 35%;
}

.line3{
  transition: 200ms;
  bottom: 10%;
}

#checkmenu:checked ~ label .line1{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 33%;
  width: 40px;
}

#checkmenu:checked ~ label .line2{
  transform: matrix(0);
  width: 0px;
}

#checkmenu:checked ~ label .line3{
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  top: 33%;
  width: 40px;
}


/* seccion de video de fondo */
.fondo{
    overflow: hidden;
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    z-index: 0;
    padding: 0;
    background: url(../assets/bg2.jpg);
    background-size: cover;
    background-position: center center;
    /* background: no-repeat; */
}

/* logo de whatsapp */

#whatsappImg{
    margin-right: 22px;
    margin-bottom: 20px;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 0;
    z-index: 200;
    width: 60px;
    transition: .2s;
  }

  #whatsappImg:hover{
    transition: .2s;
    scale: 1.1;
    margin-right: 21px;
    margin-bottom: 18px;
    filter: drop-shadow(5px 5px 5px rgba(5,5,5,0.9));
  }


  /* response de redes sociales */
.redes{
    position: fixed;
    min-height: 100vh;
    width: 80px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 200;
    margin-left: -50%;
    transition: .3s;
  }

  .redes img{
    transition: 500ms;
    width: 50px;
    height: 50px;
  }

  .redes img:hover{
    transition: 300ms;
    width: 80px;
    height: 80px;
    margin-left: 5px;
    box-shadow: black;
    filter: drop-shadow(-10px 10px 10px rgba(5,5,5,0.9));
  }

  .redes.redes-visible {
    margin-left: 0;
  }

  /* SECCIONES GENERALES */
.section{
    /* transform-style: preserve-3d; */
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: 100;
}

#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio #logocel{
  display: none;
}

h1{
    font-size: 7vw;
    color: red;
}



/* insertando el nosotros nuevo */
/* --------------------------------------------------------------- */

#wenew {
  background-color: var(--color-cuarto2);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.nos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 50%;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
}

.back h2{
  color:var(--color-cuarto);
  font-size: 40px;
}

.nos h2{
  margin-bottom: 20px;
  color: var(--color-primario);
}

.mivi{
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  width: 100%;
  min-height: 50%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.mivi #fmision2, .mivi #fvision2 {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  flex-direction: column;
  width: 45%;
  min-height: 90%;
  transition: .5s;
  text-align: justify;
  padding-left: 20px;
  padding-right: 0px;
  gap: 10px;
}



p{
  font-family: Calibri, Verdana, sans-serif;
  margin: 0;
  font-size: 29px;
  color: var(--color-cuarto);
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

.pmivi{
  margin: 0;
  margin-left: 30px;
  margin-right: 50px;
  font-size: 23px;
  font-weight: bold;
  color: var(--color-cuarto);
}

.mivi h2{
  color: var(--color-primario);
}

.mivi p{
  color: white;
}


/* ------------------------------------------------------------------ */

#servicios{
    background: url(../assets/bgservicios.jpg) no-repeat;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
}

#servicios, #prod3 h2{
  color: white;
}

#nosotros{
    background: url(../assets/bgproducto.jpg) no-repeat;
    background-size: cover;
    min-height: calc(100vh);
}

#prod3{
  background: url(../assets/carbon9.jpg) no-repeat;
  background-size: cover;
  min-height: calc(100vh);
}

#prod4{
  background: url(../assets/leoUso.jpg) no-repeat;
  background-size: cover;
  min-height: calc(100vh);
}

#servicios, #nosotros, #prod3 {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* overflow: hidden; */
    z-index: 70;
}

/* esta es el estado cuando esta en el viewport */

.subsecLeft{
  transform: rotate(-90deg) scale(0.8);
  opacity: 0;
  transition: all 1.2s ease;
  border-radius: 5px;
  padding: 10px;
  margin-top: 100px;
}

.subsecRigth{
    transform: rotate(90deg) scale(0.8);
    opacity: 0;
    transition: all 1.2s ease;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
  }

  .mostrar{
    transform: rotate(0deg) scale(2);
    opacity: 1;
    position: relative;
    z-index: 100;
  }
  /* --------------hacer responsive---------------------- */
  #box1, #box3, #box5{
    /* margin-top: 100px;   */
    background-color: aqua;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
  }

  #box2, #box4, #box6{
    background-color: rgb(225, 0, 255);
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
  }

  #box1{
    background: url(../assets/pellet.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30vh;
    height: 30vh;
    margin-left: 100px;
  }

  #box2{
    background: url(../assets/fertilizantes.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30vh;
    height: 30vh;
    margin-right: 100px;
  }

  #box3{
    background: url(../assets/calcium\ sulfate.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30vh;
    height: 30vh;
    margin-left: 100px;
  }

  #box4{
    background: url(../assets/potassium\ sulfate.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30vh;
    height: 30vh;
    margin-right: 100px;
  }

  #box5{
    background: url(../assets/carbon1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30vh;
    height: 30vh;
    margin-left: 100px;
  }

  #box6{
    background: url(../assets/carbon2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30vh;
    height: 30vh;
    margin-right: 100px;
  }

  #box7{
    background: url(../assets/leo1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 60vh;
    height: 30vh;
    margin-left: 100px;
  }

  .section--js h2{
    font-size: 25px;
  }

  /* SECCION DEL FORMULARIO DE CONTACTO */
  #boxform{
    background-color: var(--color-primario2);
    width: 600px;
    height: 70vh;
    border-radius:  5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(10px 10px 7px rgba(5,5,5,0.9));
    margin-top: 100px;
    padding-top: 5px;
  }

  #subtitle{
    color: white;
    font-size: 30px;
    font-family: jura;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
  }

  label{
    display: flex;
    align-content: flex-end;
    width: 50px;
    height: 10%;
    font-size: 100;
    font-family: jura;
    margin-bottom: 4px;
    color: white;
  }

  input, textarea{
    padding: 10px 10px;
    background-color: black;
    border: 0;
    width: 100%;
    height: 90px;
    font-size: 20px;
    color: white;
    margin-bottom: 5%;
    border-radius: 5px;
  }

  textarea{
    height: 350px;
  }

  :focus{
    inline-size: 2px solid #0F0;
  }

  .submit{
    background-color: var(--color-secundario);
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  .submit:hover{
    color: #0F0;
    text-shadow: 0 0 5px #0F0,
                 0 0 10px #0f0,
                 0 0 40px #0f0,
                 0 0 60px #0f0;
    background-color: rgb(2, 78, 2);
    outline: 0.1px solid rgb(9, 104, 9);
    box-shadow: 19px 0px 7px rgba(0, 0, 0, 0.3);
  }


footer{
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto; /* Dos filas, la primera ocupa el espacio restante, la segunda se ajusta al contenido */
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px; /* Espacio entre las celdas */
    padding: 20px;
    background-color: var(--color-cuarto);
    width: 100vw;
    height: 300px;
}

footer h2{
    color: var(--color-primario);
    }

.redesfooter{
    grid-row: 1; /* Ocupa la primera fila */
    grid-column: 1; /* Ocupa la primera columna */
    text-align: center;
    padding-top: 30px;
}
.redesfooter div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.redesfooter div a img{
    padding-top: 10px;
    width: 60px;
}

#red, #cont{
    font-size: 30px;
}

.copy{
    grid-row: 2; /* Ocupa la segunda fila */
    grid-column: span 2; /* Ocupa ambas columnas */
    margin: auto;
}

.copy h2{
  font-size: 1.5em;
}

.emails{
    grid-row: 1; /* Ocupa la primera fila */
    grid-column: 2; /* Ocupa la primera columna */
    text-align: center;
    padding-top: 30px;
}

.emails ul li{
    font-size: 25px;
    list-style: none;
    padding-top: 15px;
}

.emails ul li a{
    text-decoration: none;
    color: white;
}

/* primer media query */
@media(max-width: 1130px){

  nav{
    height: 50px;
  }

  .logo{
    background: url(../assets/logopeqblanco.svg) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .3s;
    margin-top: 1.5px;
    margin-left: 5px;
  }

  .fondo{
    overflow: hidden;
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    z-index: 0;
    padding: 0;
    background: url(../assets/bg2.jpg);
    background-size: cover;
    background-position: center center;
    /* background: no-repeat; */
}

  nav .list{
    float: none;
    position: fixed;
    z-index: 900;
    margin: auto;
    left: 0;
    right: 0;
    top: 65px;
    bottom: 100%;
    width: 85%;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-cuarto2);
    overflow: hidden;
    transition: all .3s ease-in-out;
    border-radius: 0px 0px 10px 10px;
  }

  nav .list li{
    width: 90%;
    /* height: 100px; */
  }

  nav .list a{
    font-size: 20px;
    color: white;
    border-radius: 0px;
  }

  #checkmenu:checked ~ .list{
    bottom: 15%;
  }

  nav .btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
  }

  .icon1, .icon2{
    right: 20px;
    left: 20px;
    top: 5px;
    bottom: 5px;
  }

  label img{
    margin-left: 0px;
   }

  #boxform{
    width: 50%;
    min-height: 450px;
    margin-right: 7%;
    margin-left: 7%;
  }

  input{
    padding: 10px 10px;
    border: 0;
    width: 100%;
    height: 90px;
    font-size: 100%;
    color: white;/* background-color: black; */
    margin-bottom: 5%;
    border-radius: 5px;
  }

  textarea{
    height: 350px;
  }

  :focus{
    inline-size: 2px solid #0F0;
  }

  .submit{
    background-color: var(--color-secundario);
    height: 100px;
    color: black;
    font-family: jura;
    font-size: 20px;
    margin-top: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  .subsecLeft, .subsecRigth{
    margin-top: 0px;
    background-position: center center;
    width: 25vh;
    height: 19vh;
    margin-left: 0px;
  }

  #box1, #box3, #box5{
    margin-top: 0px;
    background-position: center center;
    width: 25vh;
    height: 19vh;
    margin-left: 0px;
  }

  #box2, #box4, #box6{
    margin-bottom: 0px;
    background-position: center center;
    width: 25vh;
    height: 19vh;
    margin-right: 0px;
  }

  .section--js h2{
    font-size: 15px;
  }

}

/* segunda media query */
@media(max-width: 700px){

    #servicios, #nosotros, #prod3{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    /* gap: 10px; */
    transition: .3s;
    margin: auto;
}

#inicio #logopc{
  display: none;
}

#inicio #logocel{
  display: block;
  width: 500px;
}

#box1, #box3, #box5{
  margin-top: 80px;
  background-position: center center;
  width: 25vh;
  height: 15vh;
  margin-left: 0px;
}

#box2, #box4, #box6{
  margin-bottom: 80px;
  background-position: center center;
  width: 25vh;
  height: 15vh;
  margin-right: 0px;
}

.section--js h2{
  font-size: 15px;
}

#boxform{
  width: 70%;
  min-height: 450px;
  margin-right: 7%;
  margin-left: 7%;
  padding-top: 5px;
}

#boxform #h2{

  font-size: 20px;
  margin-top: 5px;

}

  /* pie de pagina */
  footer{
    position: relative;
    height: auto;
    width: 100vw;
    background-color: var(--color-cuarto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: matrix();
}

footer div h2{
  font-size: 10px;
}

.copy h2{
    font-size: 0.6em;
    margin-top: 15px;
}

}

/* tercer media query */
@media(max-width: 550px){

  #boxform{
    width: 90%;
    min-height: 450px;
    margin-right: 7%;
    margin-left: 7%;
  }
}

/* cuarto media query */
@media(max-width: 450px){

  #box1, #box3, #box5{
    margin-top: 80px;
    background-position: center center;
    width: 18vh;
    height: 15vh;
    margin-left: 0px;
  }

  #box2, #box4, #box6{
    margin-bottom: 80px;
    background-position: center center;
    width: 18vh;
    height: 15vh;
    margin-right: 0px;
}

#inicio #logocel{
  width: 350px;
}

}

/* media query landscape */
@media(max-height: 480px){

  #inicio #logopc{
    width: 500px;
  }

  #inicio #logocel{
    width: 270px;
    margin-top: 50px;
  }

  .section--js h2{
    font-size: 10px;
  }

  #servicios, #nosotros, #prod3 {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 70;
}

.subsecLeft, .subsecRigth{
  margin-top: 0px;
  background-position: center center;
  /* width: 50vh;
  height: 25vh; */
  margin-left: 0px;
}

.bigImg{
  width: 100px;
  background-color: #0F0;
}


#box1, #box3, #box5{
  margin-top: 0px;
  background-position: center center;
  width: 30vh;
  height: 25vh;
  margin-left: 0px;
}

#box2, #box4, #box6{
  margin-bottom: 0px;
  background-position: center center;
  width: 30vh;
  height: 25vh;
  margin-right: 0px;
}

.section--js h2{
  font-size: 10px;
}

#boxform{
  width: 50%;
  min-height: 200px;
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 100px;
}

#boxform #h2{
  font-size: 15px;
  margin-top: 1px;
}

input{
  padding: 5px 5px;
  border: 0;
  width: 100%;
  height: 30px;
  font-size: 70%;
  color: white;/* background-color: black; */
  margin-bottom: 0%;
  border-radius: 5px;
}

textarea{
  height: 70px;
  margin-bottom: 5px;
}

:focus{
  inline-size: 2px solid #0F0;
}

.submit{
  background-color: var(--color-secundario);
  height: 50px;
  color: black;
  font-family: jura;
  font-size: 15px;
  margin-top: 2.5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

form{
  padding-bottom: 10px;
}

nav .list{
  /* float: none;
  position: fixed; */
  /* z-index: 900;
  margin: auto;
  left: 0;
  right: 0; */
  top: 65px;
  /* bottom: 100%; */
  width: 85%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-cuarto2);
  overflow: hidden;
  transition: all .3s ease-in-out;
  border-radius: 0px 0px 10px 10px;
  padding-top: 0px;
}

nav .list li{
  width: 90%;
  margin: 01px;
  /* height: 100px; */
}



  nav .list a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: .3s;
  }

  .icon1, .icon2{
    height: 30px;
    width: 30px;
  }
}

/* medias query del wenew */


/* primer media query */
@media(max-width: 1130px){
  .card div h1{
      font-size: 45px;
  }

  .nos{
      padding-left: 40px;
      padding-right: 40px;
  }

  .mivi #fmision2, .mivi #fvision2 {
      padding-top: 10px;
  }

  .card div h2 {
      font-size: 40px;
  }

  .back h2{
    font-size: 40px;
  }

  p{
      font-size: 23px;
  }

  .pmivi{
      font-size: 20px;
  }

  .mivi #fmision2 h2, .mivi #fvision2 h2{
      font-size: 27px;
  }
}


/* segunda media query */
@media(max-width: 800px){
  .card div h1{
      font-size: 40px;
  }

  .card div h2 {
      font-size: 30px;
  }

  .mivi{
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }

  .nos{
      padding-left: 30px;
      padding-right: 30px;
  }

  .mivi #fmision2, .mivi #fvision2{
      width: 100%;
      min-height: 45%;
      transition: .5s;
      padding-left: 25px;
      /* padding-right: 0px; */
  }

  p{
      font-size: 20px;
      margin-left: 25px;
      margin-right: 5px;
  }

  .pmivi{
      font-size: 14px;
  }

  .mivi #fmision2 h2, .mivi #fvision2 h2{
      font-size: 30px;
  }

}

/* tercer media query */
@media(max-width: 550px){
  .card div h1{
      font-size: 35px;
  }

  .card div h2 {
      font-size: 25px;
  }

  p{
      font-size: 15px;
      margin-left: 5px;
  }

  .nos{
      padding-left: 20px;
      padding-right: 20px;
  }

  .mivi #fmision2, .mivi #fvision2 {
      padding-top: 10px;
  }

  .mivi #fmision2, .mivi #fvision2{
      padding-left: 12px;
      padding-right: 12px;
  }

  .pmivi{
      font-size: 13px;
      margin-right: 15px;
      margin-left: 15px;
  }

  .mivi #fmision2 h2, .mivi #fvision2 h2{
      font-size: 15px;
  }
}



/* cuarta media query */
@media(max-width: 360px){
  .card div h1{
      font-size: 25px;
  }

  .card div h2 {
      font-size: 20px;
  }

  p{
      font-size: 12px;
      margin-right: 20px;
      margin-left: 20px;
  }

  .pmivi{
      font-size: 11px;
  }

  .nos{
      padding-left: 5px;
      padding-right: 5px;
  }

  .mivi #fmision2, .mivi #fvision2 {
      padding-top: 2px;
  }

  .mivi #fmision1, .mivi #fvision1, .mivi #fmision2, .mivi #fvision2{
      padding-left: 5px;
      padding-right: 5px;
  }

  .mivi #fmision2 h2, .mivi #fvision2 h2{
      font-size: 12px;
  }
}

@media(max-width: 290px){
  p{
      font-size: 8px;
  }

  .mivi #fmision1, .mivi #fvision1, .mivi #fmision2, .mivi #fvision2{
      padding-left: 1px;
      padding-right: 1px;
  }

  .mivi #fmision2, .mivi #fvision2 {
      padding-top: 1px;
  }

  .mivi #fmision2 h2, .mivi #fvision2 h2{
      font-size: 10px;
  }
}

/* media query landscape */
@media(max-height: 530px){
  .card div h1{
      font-size: 25px;
  }

  .card div h2 {
      font-size: 20px;
  }

  .mivi{
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px;
      gap: 10px;
  }

  

  .mivi #fmision2, .mivi #fvision2 {
      padding-top: 0px;
  }

  p{
      font-size: 15px;
  }

  .pmivi{
      font-size: 15px;
  }

  .mivi #fmision2 h2, .mivi #fvision2 h2{
      font-size: 20px;
  }
}

/* estilos de la pagina de mensajes */

.message{
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-primario);
  overflow: hidden;
}

.message__saludo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message__saludo h1{
  color: white;
  font-size: 5vw;
  margin-top: 100px;
}

.message__saludo h2{
  color:var(--color-cuarto);
  font-size: 3.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

#ploof{
  position: absolute;
  margin: auto;
}

#ok{
  position: relative;
  margin: auto;
}

#exit {
  /* background-color: red; */
  height: 15%;
  overflow: hidden;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

#volver{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-secundario);
  box-shadow: 5px 5px 10px rgba(14, 14, 14, 0.7);
}

#volver:hover{
  background-color: rgb(62, 52, 52);
  box-shadow: 3px 1px 10px rgba(189, 165, 165, 0.5);
}

#volver a{
  font-size: 30px;
  text-decoration: none;
  color: white;
}
